@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-bg {
    @apply w-10 h-10  rounded-full bg-[#BA253D] flex items-center justify-center cursor-pointer;
  }

  .side-icon {
    @apply bg-[#CD0929] rounded-full flex items-center w-10 h-10 pl-2;
  }
  .side-nav-button{
    @apply flex items-center space-x-1 w-full ml-4 mr-20 cursor-pointer;
  }
  .side-container{
    @apply flex flex-col space-y-2 items-start justify-center bg-white border shadow-lg rounded-lg max-w-4xl p-2;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #F9F9F9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

}


