@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .icon-bg {
    @apply w-10 h-10  rounded-full bg-[#BA253D] flex items-center justify-center cursor-pointer;
  }

  .side-icon {
    @apply bg-[#CD0929] rounded-full flex items-center w-10 h-10 pl-2;
  }
  .side-nav-button {
    @apply flex items-center space-x-1 w-full ml-4 mr-20 cursor-pointer;
  }
  .side-container {
    @apply flex flex-col space-y-2 justify-center bg-white border shadow-lg rounded-lg max-w-4xl p-2;
  }
  .news-feed-card-icon{
    @apply w-5 h-5 fill-current font-extrabold focus:outline-none focus:shadow-none active:outline-none ;
  }
  .commentBtn{
    @apply h-8 w-7 text-playRed cursor-pointer;
  }
  .inputBox{
    @apply w-[275px] h-12 flex items-center justify-around p-2 bg-white rounded-full
  }
  .social-login-buttons{
    @apply flex items-center justify-center rounded-full shadow-2xl w-12 h-12 border  bg-gradient-to-br from-slate-300 to-white ring-1 border-gray-500
  }
  .login-card{
    @apply flex flex-col bg-bgtext items-center justify-center p-4  rounded-2xl;
  }
  .row-container{
    @apply flex items-center justify-center;
  }
  .col-container{
    @apply flex flex-col items-center justify-center
  }
}
.read-more-button {
  color: red;
  cursor: pointer;
}
.slant-header {
  text-align: center;
  padding: 0 0 10px 0;
  background: #fff;
}

/* angled div */
.slanted-div {
  position: relative;
  padding: 20px 0 50px 0;
  overflow: visible;
  z-index: 1;
}

/* where the magic happens */
.slanted-div:before, .slanted-div:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: inherit;
  z-index: -1;
  top: 0;
  transform-origin: left top;
  transform: skewY(-6deg);
}

.slanted-div:after {
  bottom: 0;
  transform-origin: left bottom;
  transform: skewY(3deg);
}

/* displays the content inside, as these settings in the parent breaks the effect */
.slanted-div div {
  text-align: center;
  font-size: 1.5em;
  line-height: 1.5;
}

.slant-footer {
  text-align: center;
  padding: 100px 0 50px 0;
  background: #fff;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

/* responsive */
@media only screen
and (max-width : 720px) {
  
  .slant-header {
    padding: 30px 30px 50px 30px;
  }

  .slanted-div {
    padding: 50px 0;
  }
  
  .slant-footer {
    padding: 65px 0 50px 0;
  }
    
  h1 {
    font-size: 1.5em;
  }

}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
